:root {
  --border-color: #7c2fa5;
  --border-width: 3px;
}

canvas {
  height: 100%;
  width: 100%;
  image-rendering: pixelated;
}
* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  touch-action: pan-x pan-y;
}

body {
  overscroll-behavior-y: none;
  color: black;
  background: white;
}

.bottom {
  position: absolute;
  bottom : 0px;
  z-index: 3;
  width: 100%;
  color: white;
  padding: 20px;
  align-items: center;
  text-align: center;
  font-family: sans-serif;
  color: white;
  scale: 100% 150%;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: white;
}

.drop {
  position: relative;
  top: 1px;
}